* {
  box-sizing: border-box;
}
body {
  height: 80vh;
  display: grid;
  place-content: center;
  background: #535c68;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

.btn {
  font-size: 14px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background: #00b894;
  border-radius: 8px;
}
.btn-warning {
  background: #f1c40f;
}
.btn-blue {
  background: #74b9ff;
}
.btn-danger {
  background: #e17055;
  align-self: center;
  justify-self: center;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.nav {
  padding: 10px 0;
}
.nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 8px;
  border: 1px solid black;
}
.container {
  padding: 20px;
}
.total {
  background: #00b894;
  padding: 3px 8px;
  border-radius: 50%;
  margin-left: 3px;
}
